---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


$light-gray: #aaaaaa;
$dark-gray: #555555;
$black: #353f42;
$orange: #b66a4b;
$magenta: #ab466a;
$blue: #4b78b1;
$cyan: #499A9F;
$green: #6E8413;

.language-mathematica,
.language-mma,
.language-nb,
.language-wl,
.language-wolfram,
.language-wolfram-language {
  .c { // Comment
    color: $light-gray;
    font-style: italic;
  }
  .nb { // Builtins
    color: $black;
  }
  .ne { // Messages (the "foo" in General::foo)
    color: $magenta;
  }
  .nf { // Slots
    color: $green;
    font-style: italic;
  }
  .nt { // Patterns
    color: $green;
    font-style: italic;
  }
  .nv { // Non-builtin symbols
    color: $blue;
  }
  .o { // Operators
    color: $dark-gray;
  }
  .p { // Groupings
    color: $dark-gray;
  }
  .s { // Strings
    color: $cyan;
  }
  .vc { // Local scope variables
    color: #5d9066;
  }
  .err { // Any unrecognized input that is not lexed correctly
    color: $dark-gray;
  }
}
